<div class="mt-3">
  <div class="row mb-3">
    <div class="col-md-4">
        <br/>
      <label>Site</label>
      <select class="form-control"
              [(ngModel)]="selectedSiteId"
              (change)="onSiteChange()">
        <option *ngFor="let s of sites" [value]="s.siteId">
          {{ s.siteId }}
        </option>
      </select>
    </div>
  <br/>
    <div class="col-md-4">
      <label>Year (for population pyramid)</label>
      <select class="form-control"
              [(ngModel)]="selectedYear"
              (change)="onYearChange()">
        <option *ngFor="let y of years" [value]="y.year">
          {{ y.year }}
        </option>
      </select>
    </div>
  </div>

  <div class="d-flex gap-2 align-items-center mb-3">
  <!-- existing site dropdown -->
  <!-- ... -->


</div>
<br/>
<button class="btn btn-outline-secondary mt-3"
        (click)="openSiteReportPage()"
        [disabled]="!selectedSiteId">
  View site-wise aggregated HDSS report
</button>


  <!-- <h5>Household visit outcomes trend</h5>
  <canvas baseChart
          [data]="householdTrendData"
          [options]="lineOptions"
          [type]="'line'">
  </canvas> -->
<hr />
<h5>Household visit outcomes trend</h5>
<apx-chart
  [series]="householdVisitOutcomesChartOptions.series"
  [chart]="householdVisitOutcomesChartOptions.chart"
  [plotOptions]="householdVisitOutcomesChartOptions.plotOptions"
  [xaxis]="householdVisitOutcomesChartOptions.xaxis"
  [yaxis]="householdVisitOutcomesChartOptions.yaxis"
  [dataLabels]="householdVisitOutcomesChartOptions.dataLabels"
  [legend]="householdVisitOutcomesChartOptions.legend"
  [tooltip]="householdVisitOutcomesChartOptions.tooltip"
  [grid]="householdVisitOutcomesChartOptions.grid"
  [stroke]="householdVisitOutcomesChartOptions.stroke"
  [colors]="householdVisitOutcomesChartOptions.colors">
</apx-chart>

<hr />

<h5>Population summary trend (Total, Reproductive-age women, Under-5 children)</h5>
<div *ngIf="populationSummaryChartOptions">
<apx-chart
  [series]="populationSummaryChartOptions.series"
  [chart]="populationSummaryChartOptions.chart"
  [xaxis]="populationSummaryChartOptions.xaxis"
  [dataLabels]="populationSummaryChartOptions.dataLabels"
  [stroke]="populationSummaryChartOptions.stroke"
  [fill]="populationSummaryChartOptions.fill"
  [legend]="populationSummaryChartOptions.legend"
  [tooltip]="populationSummaryChartOptions.tooltip"
  [markers]="populationSummaryChartOptions.markers">
</apx-chart>

</div>


<!-- 
  <hr />

  <h5>Total population per year</h5>
  <canvas baseChart
          [data]="totalPopulationData"
          [options]="barOptions"
          [type]="'bar'">
  </canvas> -->

   <hr />

     <br/>
  <button class="btn btn-outline-primary"
          (click)="openPopulationPyramidsPage()"
          [disabled]="!selectedSiteId">
    View population pyramids
  </button>
    <br/>
<!-- <h5>Population pyramid ({{ selectedYear }})</h5>

<div style="height: 450px;">
  <canvas
    baseChart
    [data]="pyramidChartData"
    [options]="pyramidChartOptions"
    [type]="'bar'">
  </canvas>
</div> -->

  <hr />

  <button class="btn btn-outline-primary ms-2"
        (click)="openUnder5PyramidsPage()"
        [disabled]="!selectedSiteId">
  View under-5 pyramids
</button>

<br/><br/>

  <!-- <h5>Child pyramid ({{ selectedYear }})</h5>

<div style="height: 450px;">
  <canvas
    baseChart
    [data]="childpyramidChartData"
    [options]="childpyramidChartOptions"
    [type]="'bar'">
  </canvas>
</div> -->

  <!-- <hr />

   <h5>Household size trend</h5>
  <canvas baseChart
          [data]="householdSizeData"
          [options]="barOptions"
          [type]="'bar'">
  </canvas> -->


<hr />

<h5>Migration in / out per 1,000 mid-year population</h5>
<apx-chart
  [series]="migrationRatesPerThousandChartOptions.series"
  [chart]="migrationRatesPerThousandChartOptions.chart"
  [xaxis]="migrationRatesPerThousandChartOptions.xaxis"
  [yaxis]="migrationRatesPerThousandChartOptions.yaxis"
  [stroke]="migrationRatesPerThousandChartOptions.stroke"
  [dataLabels]="migrationRatesPerThousandChartOptions.dataLabels"
  [markers]="migrationRatesPerThousandChartOptions.markers"
  [grid]="migrationRatesPerThousandChartOptions.grid"
  [tooltip]="migrationRatesPerThousandChartOptions.tooltip"
  [legend]="migrationRatesPerThousandChartOptions.legend"
  [colors]="migrationRatesPerThousandChartOptions.colors">
</apx-chart>

<hr />


  <!-- <h5>Migration trend</h5>
  <canvas baseChart
          [data]="migrationTrendData"
          [options]="lineOptions"
          [type]="'line'">
  </canvas>

  <hr /> -->

<h5>Marital status changes by year</h5>
<apx-chart
  [series]="maritalStatusChartOptions.series"
  [chart]="maritalStatusChartOptions.chart"
  [plotOptions]="maritalStatusChartOptions.plotOptions"
  [xaxis]="maritalStatusChartOptions.xaxis"
  [dataLabels]="maritalStatusChartOptions.dataLabels"
  [stroke]="maritalStatusChartOptions.stroke"
  [legend]="maritalStatusChartOptions.legend"
  [tooltip]="maritalStatusChartOptions.tooltip"
  [grid]="maritalStatusChartOptions.grid">
</apx-chart>

  <hr />

<h5>Marriage age distribution by year (Male left, Female right)</h5>
<apx-chart
  [series]="yearWiseMarriageAgeChartOptions.series"
  [chart]="yearWiseMarriageAgeChartOptions.chart"
  [plotOptions]="yearWiseMarriageAgeChartOptions.plotOptions"
  [colors]="yearWiseMarriageAgeChartOptions.colors"
  [dataLabels]="yearWiseMarriageAgeChartOptions.dataLabels"
  [xaxis]="yearWiseMarriageAgeChartOptions.xaxis"
  [yaxis]="yearWiseMarriageAgeChartOptions.yaxis"
  [grid]="yearWiseMarriageAgeChartOptions.grid"
  [tooltip]="yearWiseMarriageAgeChartOptions.tooltip"
  [legend]="yearWiseMarriageAgeChartOptions.legend"
  [title]="yearWiseMarriageAgeChartOptions.title">
</apx-chart>


<hr />

<h5>Birth outcomes and pregnancies by year</h5>
<apx-chart
  [series]="birthOutcomeChartOptions.series"
  [chart]="birthOutcomeChartOptions.chart"
  [xaxis]="birthOutcomeChartOptions.xaxis"
  [yaxis]="birthOutcomeChartOptions.yaxis"
  [dataLabels]="birthOutcomeChartOptions.dataLabels"
  [stroke]="birthOutcomeChartOptions.stroke"
  [fill]="birthOutcomeChartOptions.fill"
  [markers]="birthOutcomeChartOptions.markers"
  [grid]="birthOutcomeChartOptions.grid"
  [tooltip]="birthOutcomeChartOptions.tooltip"
  [legend]="birthOutcomeChartOptions.legend"
  [colors]="birthOutcomeChartOptions.colors">
</apx-chart>

<hr />

<h5>Births by mother’s age group and year</h5>
<apx-chart
  [series]="birthsByMotherAgeChartOptions.series"
  [chart]="birthsByMotherAgeChartOptions.chart"
  [plotOptions]="birthsByMotherAgeChartOptions.plotOptions"
  [colors]="birthsByMotherAgeChartOptions.colors"
  [stroke]="birthsByMotherAgeChartOptions.stroke"
  [dataLabels]="birthsByMotherAgeChartOptions.dataLabels"
  [xaxis]="birthsByMotherAgeChartOptions.xaxis"
  [yaxis]="birthsByMotherAgeChartOptions.yaxis"
  [grid]="birthsByMotherAgeChartOptions.grid"
  [tooltip]="birthsByMotherAgeChartOptions.tooltip"
  [legend]="birthsByMotherAgeChartOptions.legend">
</apx-chart>


<hr />

<h5>Birth place & outcome by year</h5>
  <apx-chart
    [series]="birthPlaceOutcomeChartOptions.series"
    [chart]="birthPlaceOutcomeChartOptions.chart"
    [plotOptions]="birthPlaceOutcomeChartOptions.plotOptions"
    [xaxis]="birthPlaceOutcomeChartOptions.xaxis"
    [yaxis]="birthPlaceOutcomeChartOptions.yaxis"
    [stroke]="birthPlaceOutcomeChartOptions.stroke"
    [dataLabels]="birthPlaceOutcomeChartOptions.dataLabels"
    [legend]="birthPlaceOutcomeChartOptions.legend"
    [tooltip]="birthPlaceOutcomeChartOptions.tooltip">
  </apx-chart>

  <hr />

<h5>Births and deaths by year</h5>
<apx-chart
  [series]="birthDeathAreaChartOptions.series"
  [chart]="birthDeathAreaChartOptions.chart"
  [xaxis]="birthDeathAreaChartOptions.xaxis"
  [yaxis]="birthDeathAreaChartOptions.yaxis"
  [stroke]="birthDeathAreaChartOptions.stroke"
  [dataLabels]="birthDeathAreaChartOptions.dataLabels"
  [fill]="birthDeathAreaChartOptions.fill"
  [markers]="birthDeathAreaChartOptions.markers"
  [grid]="birthDeathAreaChartOptions.grid"
  [tooltip]="birthDeathAreaChartOptions.tooltip"
  [legend]="birthDeathAreaChartOptions.legend"
  [colors]="birthDeathAreaChartOptions.colors">
</apx-chart>

<hr />

<h5>Child deaths (by age group) and stillbirths by year</h5>
<apx-chart
  [series]="childDeathsStillbirthsChartOptions.series"
  [chart]="childDeathsStillbirthsChartOptions.chart"
  [plotOptions]="childDeathsStillbirthsChartOptions.plotOptions"
  [xaxis]="childDeathsStillbirthsChartOptions.xaxis"
  [yaxis]="childDeathsStillbirthsChartOptions.yaxis"
  [stroke]="childDeathsStillbirthsChartOptions.stroke"
  [dataLabels]="childDeathsStillbirthsChartOptions.dataLabels"
  [fill]="childDeathsStillbirthsChartOptions.fill"
  [markers]="childDeathsStillbirthsChartOptions.markers"
  [grid]="childDeathsStillbirthsChartOptions.grid"
  [tooltip]="childDeathsStillbirthsChartOptions.tooltip"
  [legend]="childDeathsStillbirthsChartOptions.legend"
  [colors]="childDeathsStillbirthsChartOptions.colors">
</apx-chart>

<h5>Under-5 deaths and stillbirths by place of death and year</h5>
<apx-chart
  [series]="under5DeathPlaceChartOptions.series"
  [chart]="under5DeathPlaceChartOptions.chart"
  [plotOptions]="under5DeathPlaceChartOptions.plotOptions"
  [xaxis]="under5DeathPlaceChartOptions.xaxis"
  [yaxis]="under5DeathPlaceChartOptions.yaxis"
  [dataLabels]="under5DeathPlaceChartOptions.dataLabels"
  [legend]="under5DeathPlaceChartOptions.legend"
  [tooltip]="under5DeathPlaceChartOptions.tooltip"
  [grid]="under5DeathPlaceChartOptions.grid">
</apx-chart>

<hr />

<h5>Mortality rates and stillbirth ratio by year</h5>
<apx-chart
  [series]="mortalityRatesChartOptions.series"
  [chart]="mortalityRatesChartOptions.chart"
  [xaxis]="mortalityRatesChartOptions.xaxis"
  [yaxis]="mortalityRatesChartOptions.yaxis"
  [stroke]="mortalityRatesChartOptions.stroke"
  [dataLabels]="mortalityRatesChartOptions.dataLabels"
  [markers]="mortalityRatesChartOptions.markers"
  [grid]="mortalityRatesChartOptions.grid"
  [tooltip]="mortalityRatesChartOptions.tooltip"
  [legend]="mortalityRatesChartOptions.legend"
  [colors]="mortalityRatesChartOptions.colors">
</apx-chart>

</div>
